
/* .pages{
    background: url('https://fondosmil.com/fondo/35733.jpg')  rgba(99, 55, 55, 0.212); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -4em;   
} */