.button1 {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  }

/* .topnav .list a.button1:hover {
  background-color: hotpink;
} */

a:hover {
  background-color: rgba(255, 218, 9, 0.753);
  color: rgb(255, 255, 255);
  text-decoration: none;
};
a:focus-visible {
  background-color: sandybrown;
}
.list {
  margin-top: 40px;
}

.App {
  font-family: 'Roboto', serif;
  color: rgba(255, 218, 9, 0.753);
  position: relative;
  padding-left: 2%;
  margin-bottom: 10vh;
  margin-top: 10vh;
  font-size: 150%;
}
.Subtitle {
  color: rgb(255, 210, 11);
  font-family: 'Helvetica', ;
  margin-bottom: 2vh;
}

.topnav {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:flex-start ; 
  background:
   url('https://chefandhotel.cl/media/zoo/images/Foodie-App-PRINCIPAL-INTERIOR_bbde46e38834d27f80f2d639f42ce72d.jpg'),
  rgba(24, 18, 18, 0.514);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  color: antiquewhite;
  font-size: 30px;
};



